<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>Index</title>
</head>
<body>
    <div id="accessToken"><%=data.access_token%></div>
    <div id="refreshToken"><%=data.refresh_token%></div>
    <div id="userseqnum"><%=data.user_seq_no%></div>


<script>
    opener.document.getElementById("accessToken").value =
        document.getElementById("accessToken").textContent;
    opener.document.getElementById("refreshToken").value =
        document.getElementById("refreshToken").textContent;
    opener.document.getElementById("userseqnum").value =
        document.getElementById("userseqnum").textContent;

    var accessToken = $("#accessToken").val();
    var refreshToken = $("refreshToken").val();
    var userseqnum = $("#userseqnum").val();
    self.close();
    
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>