<!DOCTYPE html>
<body>
    <h1>안녕하세요</h1>
    <div class = "test">hello</div>
</body>
</html>
<style>
    .test{
        color : red;
        text-align :  center;
    }
</style>
<script>
    alert("hello");
</script>